
body{
    padding-top: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(211, 211, 211, 0.564);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.logIn-signUp-links{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}

.dishes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: antiquewhite;
    padding: 20px;
    margin: 30px;
}

.dish{
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(45deg, rgba(255, 182, 193, 0.551), rgba(173, 216, 230, 0.501)); */
    background-color: floralwhite;
    width: 50vh;
    padding: 15px;
    gap: 15px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.dish-img{
    background-image: url(./content/food-placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid #333;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 5px #3333339b;
}

.rating-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

