/* Главная страница */

body{
    padding-top: 50px;
    background-color: rgba(232, 219, 213, 0.497);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* navbar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.564);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

a{
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    transition: color 0.2s ease-in-out;
}

a:hover{
    color: bisque;
    text-shadow: 2px 2px 1px #000000a9;
    letter-spacing: 2px;
    font-weight: bold;

}

.logIn-signUp-links{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
}



/* footer */

footer{
    background-color: rgba(211, 211, 211, 0.564);
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.brand{
    display: flex;
    gap: 8px;
}

.brand-name{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.start-date{
    display: flex;
    gap: 5px;
    align-items: center;
}

.icon{
    width: 15px;
    height: 15px;
}

.year{
    font-size: 15px;
}

.footer-logo{
    width: 30px;
    height: 30px;
    margin: auto;
}




/* dishesMenu */

.loading-message, .error-message{
    min-height: 100vh;
    margin-top: 70px;
    margin-left: 20px;
}

.dishes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* background-color: antiquewhite; */
    padding: 10px;
    margin: 20px;
    min-height: 70vh;
}

.dish{
    display: flex;
    flex-direction: column;
    background-color: floralwhite;
    width: 40vh;
    padding: 20px;
    height: 100%;
    gap: 10px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #33333381;
}

.dish-img{
    background-image: url(./content/food-placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.5px solid #333;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 1px 1px 5px #3333339b;
}

.rating-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price-basket{
    display: flex;
    gap: 30px;
    align-items: center;
}

.buyButton{
    font-size: 16px;
    color: rgb(78, 30, 30);
    text-shadow: 1px 1px 2px #fff;
    padding: 5px;
    width: 130%;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(240, 229, 199, 0.79), rgba(243, 153, 80, 0.834));
    box-shadow: 1px 1px 3px #333;
    transition: color 0.9s ease-in-out;

}

.buyButton:hover{
    background: linear-gradient(45deg, rgba(240, 229, 199, 0.79), rgba(240, 229, 199, 0.79));
}

.vegan-icon-container{
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
}

.vegan-icon{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.pagination{
    margin: 30px;
    display: flex;
    justify-content: center;
}



/* Модальное окно */

.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #33333371;
    display: flex;
    justify-content: center;
}

.modal-content{
    background-color: floralwhite;
    padding: 30px;
    width: 55%;
    position: relative;
    margin: auto;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
}

.dish-desc{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
    margin: auto;
    gap: 15px;
    padding: 10px;
}

.close-modal-icon{
    width: 25px;
    height: 25px;
    align-self: flex-start;
    cursor: pointer;
}



/* Фильтрация */

.filter-sort-container{
    background-color: floralwhite;
    padding: 10px;
    text-align: center;
    width: 70%;
    margin: 60px auto 0;
    /* border: 0.5px solid #333; */
    border-radius: 5px;
    box-shadow: 1px 1px 5px #33333391;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
}

.category-filter{
    border: 0.3px solid #333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 3px;
    width: 15%;
}

.category-button{
    padding: 5px;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #333333ad;
    background: linear-gradient(45deg, rgba(245, 199, 144, 0.55), rgba(247, 233, 217, 0.651) );
    cursor: pointer;
    width: 100%;
}

.category-button:hover{
    background: linear-gradient(45deg, rgba(245, 200, 144, 0.297), rgba(247, 233, 217, 0.303) );
}

.vegan-filter-container{
    display: flex;
    gap: 10px;
    align-items: center;
}

.apply-button{
    width: 15%;
    font-size: 16px;
    color: rgb(78, 30, 30);
    text-shadow: 1px 1px 2px #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(240, 229, 199, 0.79), rgba(243, 153, 80, 0.834));
    box-shadow: 1px 1px 3px #333;
    transition: color 0.9s ease-in-out;
}

.apply-button:hover{
    background: linear-gradient(45deg, rgba(240, 229, 199, 0.79), rgba(240, 229, 199, 0.79));
}